.btn-back {
  transition: 0.3s;
  border: 2px solid var(--bs-primary);
  color: var(--bs-primary);
  font-weight: 700;
  border-radius: 40px !important;
  padding: 1px 15px;
  font-size: 13px;
  margin-bottom: 15px;
  background-color: transparent;
  &:hover {
    background-color: var(--bs-primary);
    color: white;
  }
}

h2 {
  margin: 0;
  color: #aaa1ad;
}

::ng-deep {
  .mat-elevation-z8 {
    box-shadow: 0 0 0 0 transparent;
    overflow-x: auto;
    .width-td {
      width: 80px;
    }
  }
  .mat-mdc-form-field {
    &:hover, &:focus {
      background-color: transparent !important;
      .mat-mdc-form-field-focus-overlay {
        opacity: 0;
      }
    }
  }
  .mdc-text-field {
    background-color: transparent !important;
  }
}
.row-nofound {
  color: #aaa1ad;
  td {
    width: 100% !important;
  }
}

.maq-parada {
  background-color: var(--bs-danger);
  font-size: 12px;
  width: 103px;
  padding: 2px 7px;
  color: white;
  border-radius: 20px;
  font-weight: 600;
}
