<div class="col-lg-8 container-fluid mt-5">
  <a class="btn btn-back" (click)="backPages()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
  <h2>Historial</h2>
  <hr>

  <!-- Tabla historial -->
  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: PQ1" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="maquina">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Máquina </th>
        <td mat-cell *matCellDef="let row"> {{row.id_maquina}} </td>
      </ng-container>

      <ng-container matColumnDef="tipoParo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo paro </th>
        <td mat-cell *matCellDef="let row"> <div class="width-td">{{row.id_parada || '--'}}</div> </td>
      </ng-container>

      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
        <td mat-cell *matCellDef="let row"> {{row.Horainicio | date:'d/MM/yyyy' || '--'}} </td>
      </ng-container>

      <ng-container matColumnDef="horaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora inicio </th>
        <td mat-cell *matCellDef="let row"> {{formatHour(row.Horainicio)}} </td>
      </ng-container>

      <ng-container matColumnDef="hTipoParada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora selección paro </th>
        <td mat-cell *matCellDef="let row"> <div class="width-td">{{formatHour(row.Hora_tipo_parada)}}</div> </td>
      </ng-container>

      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha fin </th>
        <td mat-cell *matCellDef="let row"> {{row.Horafin | date:'d/MM/yyyy' || '--'}} </td>
      </ng-container>

      <ng-container matColumnDef="horaFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora fin </th>
        <td mat-cell *matCellDef="let row"> {{formatHour(row.Horafin)}} </td>
      </ng-container>

      <ng-container matColumnDef="duracion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duración </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="calculateDurationSg(row.Horafin, row.Horainicio) >=0; else parada">
            {{calculateDurationSg(row.Horafin, row.Horainicio) + 'seg'}}
          </div>
          <ng-template #parada><div class="maq-parada">Máquina parada</div></ng-template>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row row-nofound" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro <strong>"{{input.value}}"</strong></td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  <br>
  <br>
</div>
