<div class="carga" *ngIf="loading">
  <div class="loader"></div>
</div>
<header>
  <nav  class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
      <a class="navbar-brand" href="http://10.1.0.12:1880/Bios_apps/index.html">
        <img src="assets/Img/logo-grupobios.png" style="width: 5em" />
      </a>
      <button class="navbar-toggler hidden-lg-up" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="http://10.1.0.12:1880/Bios_apps/index.html" aria-current="page">Inicio <span
                class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://10.1.0.12:1880/Bios_apps/index.html">Apps</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reporte</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">PQRS</a>
              <a class="dropdown-item" href="#">Soluciones</a>
              <a class="dropdown-item" href="http://10.1.0.12:1880/Bios_apps/Pages/go_to_market.html">Go to Mkt</a>
            </div>
          </li>
        </ul>
        <form class="d-flex my-2 my-lg-0">
          <input class="form-control me-sm-2" type="text" placeholder="Buscar" />
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
            Buscar
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
