.carga {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s ease-in-out;

  .loader {
    width: 40px;
    height: 40px;
    border: 5px solid #adadad;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

.navbar {
  z-index: 9 !important;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
