
<a
  class="text-decoration-none text-black"
  [ngClass]="{'offline': _data.status === 'DISCONNECTED'}"
  (click)="navigateTypeStop(_data)">
  <div class="card maquina_style">
    <div class="card-body">
      <div class="cont-title" [ngStyle]="{'border-bottom': border2Color(stateMachineMap[_data.status!].hexadecimal)}">
        <h6 class="card-title  overflow-hidden" ngClass="{{stateMachineMap[_data.status!].color}}">{{_data.Descrp_Maquina}} 
          <span *ngIf="dataUser">Encargado: {{dataUser.usuario}}</span>
        </h6>
      </div>
      <div id="tarjeta" class="cont">
        <div class="line-state triangle" [ngStyle]="{'border-left': border1Color(stateMachineMap[_data.status!].hexadecimal)}"></div>  
        <!-- ngClass="{{stateMachineMap[_data.status!].bgColor}}" -->
        <div class="pill">Conexión remota</div>
        <div class="info-card">
          <h2 ngClass="{{stateMachineMap[_data.status!].color}}">{{_data.Codigo_Maquina}}</h2>
          <!-- <p>Código del proceso: <br> <strong>{{_data.Codigo_Proceso}}</strong></p>
          <button class="btn-stops">{{textButton(_data.status)}}</button> -->
        </div>
        <div class="cont-state" ngClass="{{stateMachineMap[_data.status!].grdColor}}">
          <div class="format-circle" ngClass="{{stateMachineMap[_data.status!].bgColor}}"></div>
          <p class="card-text" ngClass="{{stateMachineMap[_data.status!].color}}">
             {{stateMachineMap[_data.status!].estado}}
            <i class="fa {{stateMachineMap[_data.status!].icon}}" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</a>



