

.offline {
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
}

#cronometro {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.paradas:hover {
  box-shadow: 0 0 4px #adadad;
}

.maquina_style {
  box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
  transition: all 0.3s ease-in-out;
  border: 1px solid #f2eded;
  font-family: sans-serif;
  transition: 0.3s;
  opacity: 0.9;
  cursor: pointer;
  &:hover {
    transform: scale(1.08);
  }
  .card-body {
    padding: 0;
    #tarjeta {
      display: flex;
      position: relative;
      // .line-state {
      //   border-bottom-left-radius: 4px;
      //   width: 10px;
      //   height: 250px;
      // }
      .triangle {
        width: 180px;
        height: auto;
        border-top: 130px solid white;
        border-bottom: 130px solid white;
      }
      .pill {
        position: absolute;
        right: 17px;
        background-color: aqua;
        padding: 1px 12px;
        font-size: 11px;
        border-radius: 14px;
        top: 7px;
      }
      .info-card {
        padding: 10px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 250px;
        h2 {
          font-size: 5rem;
        }
        p {
          padding-top: 25px;
          strong {
            font-size: 13px;
          }
        }
        .btn-stops {
          transition: 0.3s;
          border: 1px solid #f0f0f0;
          font-size: 14px;
          background-color: transparent;
          border-radius: 14px;
          padding: 2px 16px;
          color: #8d8e8f;
          &:hover {
            box-shadow: 0 0 4px #adadad;
          }
        }
      }
      .cont-state {
        display: flex;
        align-items: self-end;
        position: absolute;
        bottom: 7px;
        width: 88%;
        right: 20px;
        padding: 5px;
        border-radius: 10px;
        border-top-left-radius: 19px;
        border-bottom-left-radius: 19px;
        .card-text {
          font-weight: 700;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .format-circle {
        width: 27px;
        height: 25px;
        border-radius: 50%;
        margin-right: 11px;
      }
    }
  }
  &:hover {
    box-shadow: none !important;
  }
  .cont-title {
    padding: 5px 16px;
    border: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    h6 {
      font-weight: 700;
      margin: 0;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      span {
        font-size: 12px;
      }
    }
  }
}

#modalStops {
  font-family: sans-serif;
}


.icon-warning {
  transform: scale(1);
  animation: pulse 2s infinite;
  margin-right: 12px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(220, 6, 6, 0.7);
    //font-size: 16px;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(205, 7, 7, 0);
    //font-size: 20px;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(226, 9, 9, 0);
	}
}
