.cont-header {
  display: flex;
  align-content: center;
  font-family: sans-serif;
  h2 {
    margin: 0;
    color: #aaa1ad;
  }
}
h5 {
  margin: 0;
  color: #aaa1ad;
}
.btn-principal {
  transition: 0.3s;
  border: 2px solid var(--bs-primary);
  color: var(--bs-primary);
  font-weight: 700;
  border-radius: 40px !important;
  padding: 10px 35px;
  background-color: transparent;
  &:hover {
    background-color: var(--bs-primary);
    color: white;
  }
}
.txt-principal {
  color: var(--bs-primary);
  font-weight: 700;
  &:hover {
    color: var(--bs-primary);
  }
  &:focus {
    outline: none !important;
    border: 0 solid transparent !important;
  }
}
.machines-online {
  height: 240px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  display: table;
  div {
    vertical-align: middle;
    display: table-cell;
  }
  img {
    width: 90px;
    margin: 0 10px;
  }
  p {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: #aaa1ad;
    font-size: 25px;
    font-weight: 500;
  }
}

.getuot {
  padding: 0 20px;
}

::ng-deep {
  .mat-expansion-panel-header:hover {
    background-color: transparent !important;
  }
  mat-expansion-panel {
    box-shadow: 0 0 0 0 transparent !important;
  }
  .mat-expansion-indicator::after {
    color: var(--bs-primary) !important;
  }
}
