<div class="col-lg-8 container-fluid mt-5">
  <div class="cont-header justify-content-between">
    <button class="btn btn-principal" routerLink="/maquinas/historial"> <i class="fa fa-history"></i> Ver historial </button>
    <button class="btn btn-principal getuot" (click)="getOut()">  Salir <i class="fa fa-sign-out"></i> </button>
  </div>
  <hr>


  <!-- MACHINE ONLY -->
  <div class="container-fluid">
    <div class="row">
      <div class="machines-online" *ngIf="!paquetadoras.length">
        <div>
          <img src="assets/Img/machine-online.png" alt="">
          <p>La máquina estan en línea!</p>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-8 mt-3 maquina" *ngFor="let item of paquetadoras">
        <app-card-machine [dataUser]="dataUser" [dataMachine]="item"></app-card-machine>
      </div>
    </div>
    <br>
    <hr>
    <mat-accordion *ngIf="paquetadorasOnline.length">
      <mat-expansion-panel (opened)="viewPQ=true" (closed)="viewPQ=false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button class="btn txt-principal">
              <i class="fa {{viewPQ ? 'fa-eye-slash' : 'fa-eye'}}"></i>
              {{viewPQ ? 'Ocultar' : 'Ver'}} máquina en línea
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-sm-8 mt-3 maquina"  *ngFor="let item of paquetadorasOnline">
            <app-card-machine [dataMachine]="item"></app-card-machine>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>



  <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" id="container_paradas">
    <br>
    <mat-tab label="Paqueteadoras ({{paquetadoras.length}})">
      <div class="tab-pane active" id="fill-tabpanel-0" role="tabpanel" aria-labelledby="fill-tab-0">
        <div class="container-fluid">
          <div class="row">
            <div class="machines-online" *ngIf="!paquetadoras.length">
              <div>
                <img src="assets/Img/machine-online.png" alt="">
                <p>Todas las máquinas estan en línea!</p>
              </div>
            </div>
            <div class="col-sm-4 mt-3 maquina" *ngFor="let item of paquetadoras">
              <app-card-machine [dataMachine]="item"></app-card-machine>
            </div>
          </div>
          <br>
          <hr>
          <mat-accordion *ngIf="paquetadorasOnline.length">
            <mat-expansion-panel (opened)="viewPQ=true" (closed)="viewPQ=false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <button class="btn txt-principal">
                    <i class="fa {{viewPQ ? 'fa-eye-slash' : 'fa-eye'}}"></i>
                    {{viewPQ ? 'Ocultar' : 'Ver'}} máquinas en línea
                  </button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-sm-4 mt-3 maquina"  *ngFor="let item of paquetadorasOnline">
                  <app-card-machine [dataMachine]="item"></app-card-machine>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Ensacadoras ({{ensacadoras.length}})">
      <div class="tab-pane active" id="fill-tabpanel-0" role="tabpanel" aria-labelledby="fill-tab-0">
        <div class="container-fluid">
          <div class="row">
            <div class="machines-online" *ngIf="!ensacadoras.length">
              <div>
                <img src="assets/Img/machine-online.png" alt="">
                <p>Todas las máquinas estan en línea!</p>
              </div>
            </div>
            <div class="col-sm-4 mt-3 maquina"  *ngFor="let item of ensacadoras">
              <app-card-machine [dataMachine]="item"></app-card-machine>
            </div>
          </div>
          <br>
          <hr>
          <mat-accordion *ngIf="ensacadorasOnline.length">
            <mat-expansion-panel (opened)="viewEN=true" (closed)="viewEN=false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <button class="btn txt-principal">
                    <i class="fa {{viewEN ? 'fa-eye-slash' : 'fa-eye'}}"></i>
                    {{viewEN ? 'Ocultar' : 'Ver'}} máquinas en línea
                  </button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-sm-4 mt-3 maquina"  *ngFor="let item of ensacadorasOnline">
                  <app-card-machine [dataMachine]="item"></app-card-machine>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Líneas Extrusión ({{extrusion.length}})">
      <div class="tab-pane active" id="fill-tabpanel-0" role="tabpanel" aria-labelledby="fill-tab-0">
        <div class="container-fluid">
          <div class="row">
            <div class="machines-online" *ngIf="!extrusion.length">
              <div>
                <img src="assets/Img/machine-online.png" alt="">
                <p>Todas las máquinas estan en línea!</p>
              </div>
            </div>
            <div class="col-sm-4 mt-3 maquina"  *ngFor="let item of extrusion">
              <app-card-machine [dataMachine]="item"></app-card-machine>
            </div>
          </div>
          <br>
          <hr>
          <mat-accordion *ngIf="extrusionOnline.length">
            <mat-expansion-panel (opened)="viewEX=true" (closed)="viewEX=false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <button class="btn txt-principal">
                    <i class="fa {{viewEX ? 'fa-eye-slash' : 'fa-eye'}}"></i>
                    {{viewEX ? 'Ocultar' : 'Ver'}} máquinas en línea
                  </button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-sm-4 mt-3 maquina"  *ngFor="let item of extrusionOnline">
                  <app-card-machine [dataMachine]="item"></app-card-machine>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group> -->
  <br>
  <br>
</div>
