<div class="icon"><i class="fa fa-hourglass-half" aria-hidden="true"></i></div>
<h2>Guardar tipo de parada</h2>
<p>¿Estas seguro de guardar el tipo de paro: <br>
  <strong>{{data.codParo}} {{data.descrpParo}}</strong>?
</p>


<div class="cont-buttons">
  <button *ngIf="!isLoading" class="btn-closed" (click)="close()">Cancelar</button>
  <button *ngIf="!isLoading" class="btn-send" (click)="confirm()">Si, Guardar</button>
  <div class="carga" *ngIf="isLoading"><div class="loader"></div></div>
</div>
