<div class="icon"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
<h2>Iniciar Sesión</h2>
<p>Debe ingresar el dato requerido para continuar</p>
<input type="text" class="form-control" [(ngModel)]="numUser" placeholder="Ingrese su número de identificación...">

<div class="cont-buttons">
  <button *ngIf="!isLoading" class="btn-send" (click)="confirm()">Iniciar Sesión</button>
  <div class="carga" *ngIf="isLoading"><div class="loader"></div></div>
</div>