.icon {
  text-align: center;
  margin: 23px 0px;
  i {
    font-size: 4rem;
    color: rgb(211, 214, 18);
  }
}
h2 {
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 20px;
  text-align: center;
}
p {
  margin: 0 40px;
  font-size: 20px;
  text-align: center;
}
input {
  width: 90%;
  margin: 20px auto;
}
.cont-buttons {
  text-align: end;
  margin: 20px;
  display: flex;
  justify-content: end;
  button {
    color: white;
    border-radius: 30px;
    padding: 8px 25px;
    margin-right: 5px;
    border: 0;
  }
  .btn-send {
    background-color: var(--bs-primary);
  }
  .btn-closed {
    background-color: var(--bs-danger);
  }
}

.carga {
  background-color: #fff;
  transition: opacity 0.1s ease-in-out;
  .loader {
    width: 40px;
    height: 40px;
    border: 5px solid #adadad;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

