<div class="col-lg-8 container-fluid mt-5">
  <a class="btn btn-back" (click)="backPages()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
  <h2>Tipos de paradas para {{dataMachine.Descrp_Maquina}}</h2>
  <hr>

  <div class="" *ngIf="dataStops$ | async">
    <app-chronometer [data]="dataMachine" (objTimes)="listenTimes($event)"></app-chronometer>

    <div class="container-fluid">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" id="container_paradas">
        <br>
        <mat-tab *ngFor="let mach of stopsFiltered">
          <ng-template mat-tab-label>{{mach.title}} <div id="{{mach.acronym}}"></div></ng-template>
          <div class="tab-pane active" role="tabpanel" aria-labelledby="fill-tab-0">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4 col-md-6 mt-3" *ngFor="let item of mach.data;let i = index">
                  <a class="text-decoration-none text-black" (click)="selectTypeStop(item,i)">
                    <div class="paradas" id="{{item.Codigo_parada}}">
                      <div class="triangle" [style]="setBorderLefColor(dataMachine.status!)"></div>
                      <div class="card-body ">
                        <div class="cont">
                          <h6 class="card-title overflow-hidden">{{item.Descripcion_parada}}</h6>
                          <!-- <p class="card-text">{{item.Descripcion_CADOP |  titlecase }}</p> -->
                          <p class="card-text">COD: {{item.Codigo_parada }}</p>
                          <div class="format-circle" ></div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="cont-bottons">
      <div class="carga" *ngIf="isLoading"><div class="loader"></div></div>
      <button
        type="button"
        class="btn btn-lg"
        *ngIf="!isLoading"
        ngClass="{{stateMachineMap[dataMachine.status!].bgColor}}"
        [style]="setBorderColor(dataMachine.status!)"
        (click)="saveTypeStop()"
        [disabled]="onlyStop">
        Guardar tipos de paradas
      </button>
    </div>
  </div>
</div>
<br><br>
