.btn-back {
  transition: 0.3s;
  border: 2px solid var(--bs-primary);
  color: var(--bs-primary);
  font-weight: 700;
  border-radius: 40px !important;
  padding: 1px 15px;
  font-size: 13px;
  margin-bottom: 15px;
  background-color: transparent;
  &:hover {
    background-color: var(--bs-primary);
    color: white;
  }
}

h2 {
  margin: 0;
  color: #aaa1ad;
}
.nav-link {
  color: #aaa1ad !important;
}
.active {
  font-weight: 700;
}
.paradas {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  display: flex;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px #adadad;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0px transparent;
  }
  .triangle {
    width: 0;
    height: auto;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    margin-right: 11px;
  }
  .card-body {
    display: flex;
    align-items: center;
    h6 {
      font-size: 13px;
      margin-bottom: 5px;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: 13px;
    }
  }
}

.cont-bottons {
  margin-top: 25px;
  text-align: right;
  position: relative;
  button {
    color: white;
    border-radius: 30px;
    &:hover {
      color: #aaa1ad;
      background-color: transparent !important;
    }
  }
}

.active-stop {
  box-shadow: 0 0 0px transparent;
  background-color: aqua;
}

::ng-deep {
  mat-tab {
    position: relative;
  }
  mat-tab-body {
    margin-top: 20px;
  }
}
.point {
  background-color: var(--bs-primary);
  width: 7px;
  height: 7px;
  position: absolute;
  top: 13px;
  right: -20px;
  border-radius: 30px;
}

.carga {
  width: 70px;
  height: auto;
  background-color: #fff;
  transition: opacity 0.1s ease-in-out;
  position: absolute;
  right: 0;
  .loader {
    width: 40px;
    height: 40px;
    border: 5px solid #adadad;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}



