<div class="header">
  <p>Tiempo {{stateMachineMap[data.status!].estado}}
    <small ngClass="{{stateMachineMap[data.status!].bgColor}}">
      <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; {{chronometer}}
    </small>
  </p>
</div>
