.header {
  display: flex;
  justify-content: end;
  margin-bottom: 18px;
  p {
    color: #aaa1ad;
    display: flex;
    align-items: center;
    small {
      font-size: 1.5rem;
      padding: 3px 18px;
      border-radius: 21px;
      color: white;
      margin-left: 15px;
    }
  }
}
