
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Paradas-primary: mat.define-palette(mat.$indigo-palette);
$Paradas-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Paradas-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Paradas-theme: mat.define-light-theme((
  color: (
    primary: $Paradas-primary,
    accent: $Paradas-accent,
    warn: $Paradas-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Paradas-theme);

/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
body {
  font-family: sans-serif;
}

.shadow_danger {
  box-shadow: 0 0 6px 2px var(--bs-danger) !important;
}

.shadow_success {
  box-shadow: 0 0 6px 2px var(--bs-success) !important;
}

.shadow_warning {
  box-shadow: 0 0 6px 2px var(--bs-warning) !important;
}
.shadow_disconnected {
  box-shadow: 0 0 6px 2px var(--bs-gray-500) !important;
}

.cr-success {
  color:var(--bs-success) !important;
}
.cr-danger {
  color:var(--bs-danger) !important;
}
.cr-warning {
  color:var(--bs-warning) !important;
}
.cr-disconnected {
  color:var(--bs-gray-500) !important;
}

.bg-success {
  background-color:var(--bs-success);
}
.bg-danger {
  background-color:var(--bs-danger);
}
.bg-warning {
  background-color:var(--bs-warning);
}
.bg-disconnected {
  background-color:var(--bs-gray-500);
}

.grd-success {
  background-color:rgba(25, 135, 84, 0.2);
}
.grd-danger {
  background-color:rgba(220,53,69, 0.2);
}
.grd-warning {
  background-color:rgba(255,193,7, 0.2);
}
.grd-disconnected {
  background-color:rgba(108,117,125, 0.1);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
  width: 5px;
  border: 10px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #b0b0b0;
}
